<div class="clearfix">
  <div class="col-md-4" ng-if="title">
    <h4 class="pull-left report-title">{{title}}</h4>
  </div>
  
</div>

<br/>
<div class="position-relative">
  <div class="a-table-wrapper">
    <table class="a-table table" >
      <thead>
        <tr>
          <!-- TABLE HEADERS WOULD BE HERE -->
          <th ng-repeat="column in columns">{{column.header_name}}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="data in tableData">
          <td ng-repeat="column in columns">{{data[column.label]}}</td>
        </tr>
        <!-- DATA WOULD BE HERE -->
      </tbody>
    </table>
  </div>
</div>
